body {
    background-color: #e1e1e1;
}

p {
    display: inline-block;
    margin-top: 100px;
    margin-left: 30px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 200;
    color: #000000;
}